.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px;
  width: 100%;
}

.nav {
  .nav__links {
    display: flex;
    list-style: none;
    gap: 32px;
    justify-content: space-evenly;
    .links__link {
      transition: 0.1s all;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.hero {
  // background-color: crimson;
  .wrapper {
    padding-top: 0;
  }
  .hero__title {
    width: 100%;
    height: 200px;
    // border-bottom: 2px solid rgba(255, 255, 255, 0.637);
  }

  .hero__belowTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .belowTitle__left {
      display: flex;
      flex-direction: column;
      font-size: 32px;
      .left__prof {
        color: $yellow;
      }
    }

    .belowTitle__right {
      display: flex;
      gap: 16px;
      .right__icon {
        background-color: $yellow;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: 0.4s all;
        cursor: pointer;
        svg {
          height: 25px;
          width: 25px;
          fill: $background;
        }
      }
    }
  }
}

.about {
  height: 400px;
  .card {
    padding: 24px;
    display: flex;
    background: $yellow;
    color: $background;
    border-radius: 12px;
    gap: 32px;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    overflow: hidden;
  }
  .card__left {
    flex: 1 1 40%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .card__right {
    overflow: hidden;
    border-radius: 12px;
    img {
      transition: 0.2s all;
      &:hover {
        transform: scale(110%);
      }
    }
  }
}

.left__buttons {
  display: flex;
  gap: 12px;
  a {
    background-color: $background;
    color: $yellow;
    padding: 12px;
    transition: 0.2s all;
    font-size: 32px;
    border-radius: 4px;
    &:hover {
      transform: rotate(10deg) scale(90%);
    }

    svg {
      font-size: 25px;
    }
  }
}
